includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - packages/Rehla
    tmpDir: storage/framework/cache/phpstan
    configDirectories:
        - config
        - packages/Rehla/*/src/config
